In [124]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data Acquisition
## Live demo

In [125]:
dataset = pd.read_csv('data/synthetic_health_lifestyle_dataset.csv')

In [126]:
dataset

,ID,Age,Gender,Height_cm,Weight_kg,BMI,Smoker,Exercise_Freq,Diet_Quality,Alcohol_Consumption,Chronic_Disease,Stress_Level,Sleep_Hours
0,1,56,Other,177.6,37.3,11.8,Yes,NaN,Poor,NaN,No,9,8.5
1,2,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,High,No,2,5.9
2,3,46,Female,159.1,69.0,27.3,No,Daily,Excellent,Moderate,No,3,4.8
3,4,32,Male,170.6,76.4,26.3,No,3-5 times/week,Excellent,Moderate,No,9,6.6
4,5,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,Low,Yes,6,6.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,7496,55,Other,168.3,52.4,18.5,Yes,1-2 times/week,Average,Moderate,Yes,4,5.5
7496,7497,24,Male,179.1,58.8,18.3,No,3-5 times/week,Excellent,Moderate,No,5,7.6
7497,7498,61,Other,160.2,80.0,31.2,No,3-5 times/week,Poor,Moderate,No,5,6.2
7498,7499,40,Female,172.6,66.1,22.2,No,1-2 times/week,Good,Low,No,9,6.1
7499,7500,58,Other,163.8,59.3,22.1,No,Daily,Excellent,Low,No,6,8.1

In [127]:
dataset.replace('None', np.nan, inplace=True)

In [128]:
missing_data = dataset.isnull().sum().reset_index()

In [129]:
missing_data.columns = ['Column', 'Missing values count']

In [130]:
missing_data

                 Column  Missing values count
0                    ID                     0
1                   Age                     0
2                Gender                     0
3             Height_cm                     0
4             Weight_kg                     0
5                   BMI                     0
6                Smoker                     0
7         Exercise_Freq                  1879
8          Diet_Quality                     0
9   Alcohol_Consumption                  1892
10      Chronic_Disease                     0
11         Stress_Level                     0
12          Sleep_Hours                     0

In [131]:
dataset['Exercise_Freq'].mode()[0]

'Daily'

In [132]:
dataset['Alcohol_Consumption'].mode()[0]

'Low'

In [133]:
dataset['Exercise_Freq'].fillna(dataset['Exercise_Freq'].mode()[0])

0                Daily
1       1-2 times/week
2                Daily
3       3-5 times/week
4       3-5 times/week
             ...
7495    1-2 times/week
7496    3-5 times/week
7497    3-5 times/week
7498    1-2 times/week
7499             Daily
Name: Exercise_Freq, Length: 7500, dtype: object

In [134]:
dataset['Exercise_Freq'] = dataset['Exercise_Freq'].fillna(dataset['Exercise_Freq'].mode()[0])

In [135]:
dataset

,ID,Age,Gender,Height_cm,Weight_kg,BMI,Smoker,Exercise_Freq,Diet_Quality,Alcohol_Consumption,Chronic_Disease,Stress_Level,Sleep_Hours
0,1,56,Other,177.6,37.3,11.8,Yes,Daily,Poor,NaN,No,9,8.5
1,2,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,High,No,2,5.9
2,3,46,Female,159.1,69.0,27.3,No,Daily,Excellent,Moderate,No,3,4.8
3,4,32,Male,170.6,76.4,26.3,No,3-5 times/week,Excellent,Moderate,No,9,6.6
4,5,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,Low,Yes,6,6.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,7496,55,Other,168.3,52.4,18.5,Yes,1-2 times/week,Average,Moderate,Yes,4,5.5
7496,7497,24,Male,179.1,58.8,18.3,No,3-5 times/week,Excellent,Moderate,No,5,7.6
7497,7498,61,Other,160.2,80.0,31.2,No,3-5 times/week,Poor,Moderate,No,5,6.2
7498,7499,40,Female,172.6,66.1,22.2,No,1-2 times/week,Good,Low,No,9,6.1
7499,7500,58,Other,163.8,59.3,22.1,No,Daily,Excellent,Low,No,6,8.1

In [135]:
.